@page "/"

<PageTitle>Index</PageTitle>

<h1>ERP-Test</h1>

Dies ist eine Testanwendung des ERP-Projekts. In diesem Fall handelt es sich um die Weboberfläche.

<SurveyPrompt Title="Funktioniert alles?" />
