@inherits LayoutComponentBase

<PageTitle>ERP.Test.Client.WebApp</PageTitle>

<div class="page">

	<div class="block w-full">

		<NavMenu />

		<div class="w-full" style="margin-top: 88px;">
			<div class="flex flex-col">
				<div class="py-2 inline-block w-full px-8">
					@Body
				</div>
			</div>
		</div>
	</div>
</div>
