@inherits LayoutComponentBase

<PageTitle>ERP.Test.Client.WebApp</PageTitle>

<div class="page">

	<div class="block w-full">

		<NavMenu />

		<!--Container-->
		<div class="w-full" style="margin-top: 88px;">
            <div class="w-full p-4">
			    @Body
            </div>
		</div>
	</div>
</div>
